div.top{
	display: inline-flex;
	flex-wrap: wrap;
}

.search{
	font-size:10px;
	border-radius: 10px;
	cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.2) inset, 0 -1px 0 rgba(0,0,0,.05) inset;
}
.search:hover{
	  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
	}
.search:focus{
  outline: none;
  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
  transition: .2s linear;
  }
input[type = "number"]{
    font-size:15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.2) inset, 0 -1px 0 rgba(0,0,0,.05) inset;
}
input[type = "number"]:hover{
    box-shadow: 0 0 0 1px #2ECC71 inset, 0 1px 2px rgba(0,0,0,.2) inset;
}
input[type = "number"]:focus{
    outline: none;
    box-shadow: 0 0 0 1px #2ECC71 inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
    transition: .2s linear;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
div.menu{
  background-color: #2ECC71;
  overflow: auto;
  white-space: nowrap;
  font-family:Bookman Old Style;
}
div.menu a{
	font-size:20px;
    color:white;
	text-decoration: none;
	font-family:Bookman Old Style;
}
div.menu a:hover{
	background-color: #ddd;
    color: black;
}
#list{
	display: inline-block;
	flex-wrap: wrap;
}
.total{
	display:flex;
	flex-wrap: wrap;
}



.second{
	text-align:right;
	margin-left: 200px;
	float:right;
}
.go2{
	margin-left:30%;
	float:right;
}
.slideshow-container{
	margin-top:15px;
	text-align: center;
	vertical-align: middle;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}
@media screen and (max-width: 800px) {
    .gallery-image img {
        height: 120px;
        width: 200px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
    }
}

.dot{
    color:#4CAF50;
}
.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}
select{
    margin-left:50px;
}
.product{
    display:block;
    width:60%;
    margin-top:auto;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size:24px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.2) inset, 0 -1px 0 rgba(0,0,0,.05) inset;
}
.product:hover{
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
}
.product:focus{
    outline: none;
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
    transition: .2s linear;
}
.product>p{
    color:#239B56;
}
.basic{
    display: flex;
    flex-wrap: wrap;
}
footer{
    overflow: auto;
    min-height: 250px;
    background-color: #239B56;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-top: 25px;
}
#dev{
    font-size: 30px;
    font-family: Snell Roundhand, cursive,sans-serif;
}
li{
    padding-bottom: 7px;
    font-size: 20px;
}
.vv{
    padding-left: 100px;
}
.names > .names{
    font-family: 'Orbitron', sans-serif;
}
footer .socialMedia {
    display: flex;
    flex-wrap: wrap;
    text-align-all: center;
    margin-left: 70%;
    direction: ltr;
}
.social{
    padding-right: 9px;
    padding-left: 9px;
}
#image{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 35px;
}
.check{
    margin-left: 30px;
    margin-top: -10px;
}
#flour{
    justify-content: left;
    margin-left: 35px;
    margin-top:20px;
}
ul{
    list-style: none;
}

#flour{
    text-decoration: none;
    font-size: 20px;
    color:#4CAF50;
    font-family: inter;
    font-weight: 500;
    position: relative;
}

#flour:after{
    content:"";
    position: absolute;
    width:7px;
    height:7px;
    background: #4CAF50;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s;
}
#flour:hover:after{
    left:50%;
    opacity: 1;
}

#banana,#bcost{
    font-family: Apple Chancery, cursive;
    font-size: 25px;
    color: #4CAF50;
}
#Binfo{
    margin-top: 1%;
    margin-left: 30%;
}
#some{
    color:#239B56;
    font-family: Times New Roman, sans-serif;
}
.filter{
    display: block;
    margin-left:5px;
    padding-right: 10px;
}
.badge{
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 3px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
.wrapper1 {
    float:left;
    padding: 10px;
    text-align: center;
    margin-left:13%;
    margin-right: 15%;
    margin-top: 4%;
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 19px;
}
.wrapper1 .box1{
    display: flex;
    flex-direction:column;
    box-shadow: 0 0 1px 2px #239B56 inset, 0  1px 3px rgba(0,0,0,.2) inset;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.wrapper1 .box1:hover{
    box-shadow: 0 0 0 2px #82E0AA inset, 0 1px 2px rgba(0,0,0,.5) inset;
}
.imageAll{
    width:100%;
    height: 70%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.wrapper1 .name{
    font-family: Optima;
    padding-top: 5px;
    font-size: 20px;
    color: #004445;
}
.wrapper1 .buy {
    cursor: pointer;
    padding: 5px 35px;
    margin-top: 10px;
    font-size:17px;
    border-radius: 10px;
    background-color: #239B56;
}
.wrapper1 .buy1{
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 40px;
    margin-top: 10px;
    font-size:17px;
    border-radius: 50px;
    background-color: #FFD31D;
}
.wrapper1 .change{
    cursor: pointer;
    padding: 8px 40px;
    margin-top: 10px;
    font-size:20px;
    border-radius: 10px;
    background-color: orange;
}
.wrapper1 .new{
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 40px;
    margin-top: 10px;
    font-size:20px;
    border-radius: 10px;
    background-color: orange;
}
.price{
    font-family: "Old Standard TT";
    font-weight: bold;
    font-size: 17px;
    color: #2b580c;
}
.message_box .box{
    margin: 10px 0px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #2b772e;
}
.table{
    margin-left: 10%;
    background-color: #f0f3f4 ;
}
.table td {
    border-bottom: #d0d3d4 1px solid;
    padding: 10px;
    font-family: Apple Chancery, cursive;
 /*   margin-left: 80px;*/
}
.cart_div {
    float:right;
    font-weight:bold;
    position:relative;

}
.cart_div a {
    color:#000;
}
.cart_div span {
    font-size: 12px;
    line-height: 14px;
    background: #2b772e;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
}
.cart .remove {
    background: none;
    border: none;
    color: orange;
    cursor: pointer;
    padding: 0px;
}
.cart .remove:hover {
    text-decoration:underline;
}
.basket{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;

}
#pay{
    background-color: #4CAF50;
    color: white;
    width:150px;
    height:40px;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 2%;
    align-self: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.5s ease;
}
#check{
    background-color: #4CAF50;
    color: white;
    width:30px;
    height:30px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
.wrapper2 {
    float:left;
    padding: 10px;
    text-align: center;
    margin-left:20%;
    margin-right: 15%;
    margin-top: -14%;
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 19px;
}
.run{
    font-size: 0;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: rotate 1.2s ease 0.5s infinite;
}
@keyframes rotate {
0%{
    transform: rotate(360deg);
}
}

.form{
    width: 50%;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.input{
    padding: 10px;
    font-size: 1em;
    font-family: 'Bebas Neue', sans-serif;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: 0.6px solid #1D8348;
    transition: all 0.3s;
    text-align: center;
}
.input:hover{
    box-shadow: 0 0 15px 10px #ABEBC6;
    transition: all 0.3s;
}
.inputsub{
    margin-top: 30px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Bebas Neue', sans-serif;
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    border: 0.6px solid #1D8348;
    transition: all 0.3s;
    text-align: center;
}
.inputsub:hover{
    background-color: #16A085;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

}
.f {
    width: 120%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #1D8348;
}
.f > h1{
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    color:white;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: 700;
}

